.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: transparent;
    background-color: rgba(208, 208, 208, 0.108);
    text-align: center;
    font-family: 'Inter', sans-serif;
	font-family: 'Playfair Display', serif;
    box-shadow: 0px 11px 35px -8px rgba(255, 255, 255, 0.24);
    -webkit-box-shadow: 0px 11px 35px -8px rgba(255, 255, 255, 0.24);
    -moz-box-shadow: 0px 11px 35px -8px rgba(255, 255, 255, 0.24);
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logo img {
    margin-left: 15px;
    width: 64px;
    filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-right: 20px;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;
}

#composition-menu {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 90px;
}


.navbar ul li a {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;

}

.navbar ul li span {
    color: #000000;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    top: -15px;
}

.navbar ul li a:hover {
    font-size: 1.2rem;
    color: #138bc7;
    transition: all 0.3s ease;
}

.navbar-img {
    margin-left: 5px;
    width: 30px;
    border-radius: 50%;
}

.sign-in {
    cursor: pointer;
}

.toggle-button {
    cursor: pointer;
    display: none;
    margin-right: 10px;
}

.dropdown-menu {
    position: absolute;
    right: 2em;
    top: 60px;
    width: 200px;
    background: rgba(45, 45, 45, 0.11);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown-menu ul {
    margin: 0;
    padding: 10px 0;
}

.dropdown-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000000;
}

.dropdown-menu li a:hover {
    text-decoration: none;
    color: #138bc7;
    transition: all 0.3s ease;
}

.dropdown-close {
    display: none;
}

#cart-num {
    font-size: 18px;
    color: #138bc7;
}

@media (max-width: 992px) {
    .navbar ul {
        display: none;
    }

    .navbar ul {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    .dropdown-close {
        display: none;
    }

    .dropdown-menu {
        position: absolute;
        right: 2em;
        top: 60px;
        width: 200px;
        z-index: 99999;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        display: block;
    }

    .dropdown-menu ul {
        margin: 0;
        padding: 10px 0;
    }

    .dropdown-menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
    }

    .dropdown-menu li a {
        text-decoration: none;
        color: #000000;
    }

    .dropdown-menu li a:hover {
        text-decoration: none;
        color: #138bc7;
        transition: all 0.3s ease;
    }
}