.profile {
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    width: 90vw;
    height: 80vh;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);

}

.profile {
    background-color: rgba(167, 167, 167, 0.178);
    border-radius: 20px;

}

.profile-navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border-right: 1px solid gray;

}

.profile-navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-right: 7px;
}

.about {
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.about-textbox {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 5px 5px 10px 0px;
    padding: 1px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 400px;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    border-radius: 5px;
    background-color: #7edaa6;
    width: 300px;
    height: 40px;
    border: 1px solid rgb(177, 177, 177);
    cursor: pointer;
    transition: 0.3s ease;
}

.edit-button:hover {
    border: 1px solid rgb(177, 177, 177);
    background-color: rgb(145, 175, 227);
}

@media(max-width: 992px) {
    .profile {
        display: none;
    }

    .mobile-container {
        width: 100%;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
    }

    .profile-info {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .profile-info-text {
        margin-left: 10px;
    }

    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .buttons {
        display: flex;
    }

    .button {
        text-decoration: none;
        color: black;
        display: flex;
        text-align: center;
    }

    .button li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        list-style: none;
        text-decoration: none;
        width: 160px;
        height: 40px;
        margin-left: 15px;
        margin-top: 10px;
        border-radius: 7px;
    }

    .about-textbox {
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 1.2rem;
	    margin: 0 auto;
        padding: 1.5rem 2rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 90%;
        display: block;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;
    }

}