.profile {
    display: flex;
    color: white;
    margin-top: 20px;
    width: 90vw;
    height: 80vh;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}

.profile {
    background-color: rgba(167, 167, 167, 0.178);
    border-radius: 20px;

}

.profile-navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border-right: 1px solid gray;

}

.profile-navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
    margin-right: 7px;
}

.about {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.about span {
    margin-bottom: 20px;
}

@media(max-width: 992px) {
    .profile {
        display: none;
    }

    .mobile-container {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
    }

    .profile-info {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .profile-info-text {
        margin-left: 10px;
    }

    .button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .buttons {
        display: flex;
    }

    .button {
        text-decoration: none;
        color: black;
        display: flex;
        text-align: center;
    }

    .button li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        list-style: none;
        text-decoration: none;
        width: 160px;
        height: 40px;
        margin-left: 15px;
        margin-top: 10px;
        border-radius: 7px;
    }

}